debian/changelog
dpkg-buildpackage.log
dpkg-buildpackage.version
*.swp
*.swo
build-stamp
build/*
debian/files
debian/python-configshell.debhelper.log
debian/python-configshell.substvars
debian/python-configshell/
debian/configshell-doc.debhelper.log
debian/configshell-doc.substvars
debian/configshell-doc/
debian/tmp/
dist/*
doc/*
*.pyc
debian/python-configshell.substvars
debian/configshell-doc.debhelper.log
debian/tmp/
*.spec
*.pyc
rtslib-*
venv/
.venv/
.idea
*egg-info/
