dpkg-buildpackage.log
dpkg-buildpackage.version
*.swp
*.swo
build-stamp
build/*
debian/debhelper-build-stamp
debian/files
debian/python-configshell-fb-doc.debhelper.log
debian/python-configshell-fb-doc.substvars
debian/python-configshell-fb-doc/
debian/python-configshell-fb.debhelper.log
debian/python-configshell-fb.postinst.debhelper
debian/python-configshell-fb.prerm.debhelper
debian/python-configshell-fb.substvars
debian/python-configshell-fb/
debian/python3-configshell-fb.debhelper.log
debian/python3-configshell-fb.postinst.debhelper
debian/python3-configshell-fb.prerm.debhelper
debian/python3-configshell-fb.substvars
debian/python3-configshell-fb/
debian/tmp/
dist/*
doc/*
*.pyc
*.spec
*.pyc
rtslib-*
