#!/usr/bin/make -f

install_dir	= $(CURDIR)/debian/tmp
pkgname 	= configshell-fb
name 		= configshell

#export DH_VERBOSE=1

PYTHON2=$(shell pyversions -vr)
PYTHON3=$(shell py3versions -vr)

# prevent internet access to use PyPi
export http_proxy = http://127.0.0.1:9


%:
	echo "debug dh: $@"
	dh $@ --with python2,python3


build-python%:
	echo "debug: $@"
	python$* setup.py build

override_dh_auto_build: $(PYTHON3:%=build-python%) $(PYTHON2:%=build-python%)
	dh_auto_build


install-python%:
	echo "debug: $@"
	python$* setup.py install --root=$(install_dir) --install-layout=deb

override_dh_auto_install: $(PYTHON3:%=install-python%) $(PYTHON2:%=install-python%)
	dh_auto_install


override_dh_installdocs:
	mkdir -p build
	mkdir -p $(CURDIR)/debian/python-configshell-fb-doc/usr/share/doc/python-configshell-fb-doc/html
	cd build; epydoc --no-sourcecode --html -n configshell-fb \
		--exclude configobj ../configshell/*.py \
		--output $(CURDIR)/debian/python-configshell-fb-doc/usr/share/doc/python-configshell-fb-doc/html
	dh_installdocs

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
