%define oname configshell

Name:           python-configshell
License:        AGPLv3
Group:          System Environment/Libraries
Summary:        A framework to implement simple but nice CLIs.
Version:        VERSION
Release:        1%{?dist}
URL:            http://www.risingtidesystems.com/git/
Source:         %{oname}-%{version}.tar.gz
BuildRoot:      %{_tmppath}/%{name}-%{version}-%{release}-rpmroot
BuildArch:      noarch
BuildRequires:  python-devel, epydoc, python-simpleparse
Requires:       python-simpleparse, python-urwid >= 0.9.9, epydoc
Vendor:         RisingTide Systems

%description
A framework to implement simple but nice command-line interfaces.

%package doc
Summary:       PDF and HTML API reference for python-configshell.
Group:         Documentation
BuildRequires: epydoc

%description doc
PDF and HTML API reference for python-configshell.

%prep
%setup -q -n %{oname}-%{version}

%build
%{__python} setup.py build

%install
rm -rf %{buildroot}
%{__python} setup.py install --skip-build --root %{buildroot}
mkdir -p %{buildroot}/usr/share/doc/python-configshell-doc-%{version}
cp -r doc/* %{buildroot}/usr/share/doc/python-configshell-doc-%{version}/

%clean
rm -rf %{buildroot}

%files
%defattr(-,root,root,-)
%{python_sitelib}
%doc examples COPYING README

%files doc
%defattr(-,root,root,-)
/usr/share/doc/python-configshell-doc-%{version}

%changelog
